@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.task-container {
  margin-left: auto;
  margin-right: auto;
}

.task--circle {
  &:hover {
    .task--circle__icon {
      opacity: 1;
    }
  }
}
